:root {
    --font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;

    --slate-blue-100: #f5f7ff;
    --slate-blue-200: #e5eaff;
    --slate-blue-300: #b5c1fc;
    --slate-blue-400: #8a9cf4;
    --slate-blue-500: #667ce7;
    --slate-blue-600: #445dd5;
    --slate-blue-700: #364bb0;
    --slate-blue-800: #334080;
    --slate-blue-900: #2b3255;

    --royal-purple-500: #754fa7;

    --coral-red-500: #ff5e57;

    --gray-100: #d0d8f1;
    --gray-200: #afbbdf;
    --gray-300: #92a0c8;
    --gray-400: #7b88ad;
    --gray-500: #6b738a;
    --gray-600: #5e5f64;
    --gray-700: #474747;
    --gray-800: #2e2e2e;
    --gray-900: #141414;

    --black: #000;
    --white: #fff;

    --gradient-1: linear-gradient(98.86deg, #667ce7 0%, #754fa7 100%);

    /* Default Theme (Light) */
    /* Background Color */
    --bg-black: var(--black);
    --bg-white: var(--white);
    --bg-primary-color-500: var(--slate-blue-500);
    --bg-accent-color-500: var(--coral-red-500);

    /* Text color */
    --text-black: var(--black);
    --text-white: var(--white);
    --text-gray-500: var(--gray-500);
    --text-accent-color-500: var(--coral-red-500);

    /* border color */
    --border-slate-blue-400: var(--slate-blue-400);
    --border-gray-300: var(--gray-300);
    --border-gray-400: var(--gray-400);
    --border-gray-500: var(--gray-500);

    /* shadow */
    --shadow-100: 0 5px 10px rgba(0, 0, 0, 0.2);
    --shadow-200: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* This defines what 1rem is
    1rem = 10px; 10px/16px = 62.5% */
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    line-height: 1;
    font-weight: 400;
    font-size: 1.6rem;
    overflow-x: hidden;
}

.reg-card {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient-1);
}

.reg-card__container {
    max-width: 50rem;
    background-color: var(--bg-white);
    padding: 3.5rem 3rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.reg-card__heading {
    font-family: inherit;
    color: var(--text-black);
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
}

.reg__form-row {
    gap: 1.6rem;
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.reg__form-group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.reg__form-label {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 600;
}

.reg__form-input {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--border-gray-400);
    border-radius: 5px;
    font-size: 1.5rem;
    line-height: 1;
    font-family: inherit;
    color: var(--text-black);

    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.reg__form-input::placeholder {
    font-size: 1.4rem;
    font-family: inherit;
    color: var(--text-gray-500);
}

.reg__form-input:focus {
    background-color: var(--bg-white);
    border-color: var(--border-slate-blue-400);
    outline: 0;
    box-shadow: var(--shadow-200);
}

.reg__form-input.invalid:invalid {
    border-color: var(--bg-accent-color-500);
    box-shadow: 0 0 5px rgba(255, 94, 87, 0.5);
}

.error-message {
    color: var(--text-accent-color-500);
    font-size: 1.2rem;
    font-weight: 400;
    font-family: inherit;
}

.reg__form-gender-wrap {
    margin-bottom: 2.4rem;
}

.gender-options {
    display: flex;
    align-items: center;
    gap: 8px;
}

.gender-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.gender-option > input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--border-gray-300);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
}

.gender-option > input[type="radio"]::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: var(--bg-primary-color-500);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s;
}

.gender-option > input[type="radio"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

.gender-option > input[type="radio"]:focus {
    border-color: var(--border-slate-blue-400);
    outline: none;
    box-shadow: var(--shadow-200);
}

.gender-option > input[type="radio"].invalid:invalid {
    border-color: var(--bg-accent-color-500);
}

.reg__form-actions {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-family: inherit;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.btn:active {
    transform: scale(0.95);
    box-shadow: var(--shadow-100);
}

.reg__submit-btn {
    background: var(--gradient-1);
    color: var(--text-white);
}

.reg__cencel-btn {
    background-color: var(--bg-accent-color-500);
    color: var(--text-white);
}
